* {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container {
    /* border-style: solid; */
    text-align: center;
    padding-top: 60px;
}

#title {
    margin-bottom: 50px;
    font-size: 40px;
    font-family: Roboto;
    text-transform: uppercase;
}

.title-break { /* hr */
    margin-bottom: 60px;
    width: 95%;
}

.border {
    background-color: rgb(247, 247, 247);
    padding-top: 25px;

}

/* -----------------SEPERATION-----------------*/

.subject-container {
    margin-bottom: 50px;
    display: inline-block;
    vertical-align: top;
}

/* -----------------SEPERATION-----------------*/

.image-container {
    width: 400px;
    height: 300px;
    display: inline-block;
}

.subject-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 10px;

}

/* -----------------SEPERATION-----------------*/

.description-container, .image-container {
    vertical-align: top;
}

.description-container {
    margin-top: 20px;
    width: 320px;
    /* border-style: solid; */
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.subject-title {
    font-weight: bold;
    font-size: 30px
}

.subject-credits {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    color: gray;
} 

.subject-description {
    font-size: 16px;
}

.subject-title, .subject-description {
    display: inline-block;
    font-family: Roboto, Arial;
}
